.hover-animated {
    transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.hover-animated:hover {
    animation: pulse 0.5s ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.vertical-line {
    width: 1px;
    height: 20px; /* Adjust height as needed */
    background-color: #ffffff; /* White color for the line */
    margin: 0 10px; /* Space around the line */
}


